<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Books App</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
<body>
  <div class="container">
    <h1 class="text-center">The Munchies</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form-inline" id="newRestaurantForm">
          <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" name="title" placeholder="Restaurant Name" autofocus="">
          </div>
          <div class="form-group">
            <label for="title">Cuisine</label>
            <input type="text" class="form-control" name="author" placeholder="i.e. Chinese">
          </div>
          <div class="form-group">
            <label for="title">Location</label>
            <input type="text" class="form-control" name="author" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="title">Best Dish</label>
            <input type="text" class="form-control" name="author" placeholder="Dish Name">
          </div>
          <div class="form-group">
            <label for="title">Image URL</label>
            <input type="text" class="form-control" name="author" placeholder="Paste Link">
          </div>
          <button type="submit" class="btn btn-default">Add Recommendation</button>
        </form>
        <div id='restaurantTarget'>
          <!-- handlebars template -->
          <script id="restaurants-template" type="text/x-handlebars-template">
            {{#each restaurants}}
            <hr>
            <p>
              <b>{{name}}</b>
              <b>{{cuisine}}</b>
              <!-- by {{author.name}} -->
              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
            </p>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
