<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Munchies</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
<body>
  <div class="container-fluid">
    <h1 class="text-center">The Best Eateries</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <button type="submit" name="button" class="btn btn-input">Make A Recommendation!</button>
        <!-- <div id="formModal" style="display:none;"> -->
          <form class="form-inline" id="newRestaurantForm" display="none">
            <div class="form-group">
              <label for="title">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Restaurant Name" autofocus="">
            </div>
            <div class="form-group">
              <label for="title">Cuisine</label>
              <input type="text" class="form-control" name="cuisine" placeholder="i.e. Chinese">
            </div>
            <div class="form-group">
              <label for="title">Location</label>
              <input type="text" class="form-control" name="location" placeholder="City">
            </div>
            <br>
            <div class="form-group">
              <label for="title">Best Dish</label>
              <input type="text" class="form-control" name="best_dish" placeholder="Dish Name">
            </div>
            <div class="form-group">
              <label for="title">Image URL</label>
              <input type="text" class="form-control" name="image_url" placeholder="Paste Link">
            </div>
            <button type="submit" class="btn btn-default enter">Submit!</button>
            <button type="cancel" class="btn btn-default escape">Nevermind!</button>
          </form>
        <!-- </div> -->
        <div id='restaurantTarget'>
          <!-- handlebars template -->
          <script id="restaurants-template" type="text/x-handlebars-template">
            {{#each restaurants}}
            <hr>
            <div class='row'>
              <div class='col-md-3'>
                <img class='picSize' src='{{image_url}}'>
              </div>
              <div class='col-md-6'>
                <h2>{{name}}</h2>
                <p>
                  <b>Cuisine: {{cuisine}}</b><br>
                  <b>Location: {{location}}</b><br>
                  <b>Best Dish: {{best_dish}}</b><br>
                </p>
              </div>
              <div class='col-md-3'>
                <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
              </div>
            </div>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 api">
    <a href="https://shrouded-brushlands-49491.herokuapp.com/api">API Documentation</a>
  </div>
  <footer></footer>
</body>
</html>
