body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
  font-family: inherit;
  font-style: italic;
}

h2 {
  font-weight: bold;
}

#newRestaurantForm {

}

.form-group {
  margin: 10px 10px;
}

.picSize {
  height: 150px;
  width: 150px;
}

.col-md-8 {
  text-align: center;
  font-family: fantasy;
}

.picSize {
    background: url('http://goo.gl/9CVGfc');
    border-radius: 150px;
    width: 150px;
    height: 150px;
    background-size: 280px;
    background-position: right;
    border: 1px solid rgba(200, 100, 100, 0.5);;
}

.deleteBtn {
  position: absolute;
  top: 50%;
  margin-top: 50px;
}

.btn-default {
  margin: 10px 10px;
}

.api {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
}

form {
  margin: 20px auto 20px auto;
  display: none;
}

footer {
  height: 150px;
}
